*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}

body{
 /* background-image: url(https://source.unsplash.com/1920x1080/?nature,bright); */
 background-image: url(https://picsum.photos/1920/1080/?blur=2);
}


.title{
  margin-top: 0px;
  /* color: black;
  text-shadow: 3px 3px 2px white; */
  font-size: 80px;
  padding-bottom: 5px;
}

.box{
  margin-top: 60px;
  padding: 30px;
  min-height: 460px;
  border-radius: 5px;
}

.enter{
  padding-left: 50px;
  padding-right: 50px;
}

.city{
  font-size: 70px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 20px;
}

.myIcon{
  font-size: 15px;
  margin-left: -8px;
  padding: 2px;
  font-style: italic;
}

.myLocation{
  margin-top: -15px;
  font-style: italic;
}

/* .location{
  font-weight: 400;
} */

/* .city-temp{
  margin-top: -10px;
} */

 .input-field input:focus + label {
   color: white !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid white !important;
   box-shadow: 0 1px 0 0 white !important
 }


.city-temp{
  margin-top: 40px;
}

.myTemp{
  font-weight: 100;
}

.other p{
  font-size: 17px;
  font-style: italic;
}

.condition{
  margin-top: -10px;
  margin-bottom: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.error-icon{
  margin-top: 15px;
  font-size: 150px;
  margin-bottom: 15px;
}

.errorTop{
  font-weight: 500;
}

.errorLine{
  font-style: italic;
}

/* .errorBox{
  margin-top: 100px;
} */